body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}



:root{
	--orange:#ed4f2e;
}

.navbar{
	padding: 34px 0;

}

.navbar-nav .nav-link{
	font-size: 14px;
	color: #1f2c33;
	padding: 11px  17px !important;
	border-radius: 5px;
}


.navbar-nav .nav-link.active{


	color: #fff !important;
	font-weight: 700;
	background: var(--orange);

}


.navbar-nav .nav-link:hover{
	color: var(--orange) !important;
}

.main{
	padding: 280px 0 262px;
	
	background: url(../images/header_bg.jpg) no-repeat center/ cover;
}

.main h1{
	font-size: 50px;
	max-width: 920px;
	line-height: 64px;
}

.main p{

	font-size: 14px;
	line-height: 25px;
	max-width: 558px;
	margin: 30px auto 40px;
	text-align: center;

}


.main a{
	font-size: 14px;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 10px;
	text-decoration: none;
	padding: 21px 54px;
	
	

}



.navbar .navbar-toggler{
	border-color: var(--orange);
	color: var(--orange);
}